.content {
  flex-grow: 1;
  border: 1px solid red;
  height: calc(100vh - 77px);
  padding: 10px;
}
.content_mid{
  border: 1px solid red;
  height: calc(100vh - 77px);
  padding: 10px;
  /* flex-grow: 3; */
  flex-basis: 50%;
}
